<?xml version="1.0" encoding="UTF-8"?>
<DiameterPeer 
	FQDN="${ROLE_FQDN}"
	Realm="${IMS_REALM}"
	Vendor_Id="10415"
	Product_Name="CDiameterPeer"
	AcceptUnknownPeers="1"
	DropUnknownOnDisconnect="1"
	Tc="30"
	Workers="16"
	QueueLength="32"
	TransactionTimeout="5"
	SessionsHashSize="128"
	DefaultAuthSessionTimeout="3600"
	MaxAuthSessionTimeout="3600"
>

	<Peer FQDN="${HSS_FQDN}" Realm="${HSS_REALM}" port="${DIAMETER_PEER_PORT}"/>

	<Acceptor port="${DIAMETER_PORT}" bind="${DIAMETER_BIND_IP}"/>

	<Auth id="16777216" vendor="10415"/><!-- 3GPP Cx -->
	<Auth id="16777216" vendor="4491"/><!-- CableLabs Cx -->
	<Auth id="16777216" vendor="13019"/><!-- ETSI/TISPAN Cx -->
	<Auth id="16777216" vendor="0"/><!-- ETSI/TISPAN Cx -->

        <!-- 
                Supported Vendor IDs - list of values which will be sent in the CER/CEA in the
                Supported-Vendor-ID AVPs
        -->
        <SupportedVendor vendor="10415" />

	<DefaultRoute FQDN="${HSS_FQDN}" metric="10"/>
</DiameterPeer>
