services:
  proxy:
    image: itzg/mc-proxy
    environment:
      TYPE: VELOCITY
      CFG_MOTD: Miners Online
      REPLACE_ENV_VARIABLES: "true"
      ICON: https://github.com/miners-online/.github/blob/main/profile/logos/favicon-64x64.png?raw=true
    ports:
      - "25565:25577"
      - "19132:19132/udp"
    volumes:
      - ./config.yml:/config/config.yml
    restart: unless-stopped
