services:
  proxy:
    image: itzg/mc-proxy
    env_file: velocity.env
    environment:
      TYPE: VELOCITY
      REPLACE_ENV_VARIABLES: "true"
      REMOVE_OLD_PLUGINS: "true"
      PLUGINS_FILE: /config/plugins.txt
      ICON: https://github.com/miners-online/.github/blob/main/profile/logos/favicon-64x64.png?raw=true
    ports:
      - "25565:25577"
      - "19132:19132/udp"
    volumes:
      - ./config:/config/
    restart: unless-stopped
    networks:
      - minecraft

  lobby:
    image: ghcr.io/miners-online/game-lobby:latest
    container_name: lobby-1
    env_file: lobby.env
    environment:
      CONFIG_PATH: /config/server.properties
    volumes:
      - ./schems:/schems
      - ./lobby.properties:/config/server.properties
    restart: unless-stopped
    networks:
      - minecraft

networks:
  minecraft:
