IMS_REALM=ims.example.net
IMS_REALM_ESC=ims\.example\.net

DB_NAME=kamailio
DB_USER=kamailio
DB_PASSWORD=kamailio
DB_ROOT_PASSWORD=kamailio-root

PCSCF_FQDN=pcscf.ims.example.net
PCSCF_SIP_PORT=5060
PCSCF_DIAMETER_PORT=3871
PCSCF_WITH_IPSEC=0

ICSCF_FQDN=icscf.ims.example.net
ICSCF_SIP_PORT=4060
ICSCF_DIAMETER_PORT=3869

SCSCF_FQDN=scscf.ims.example.net
SCSCF_FQDN_ESC=scscf\.ims\.example\.net
SCSCF_SIP_PORT=6060
SCSCF_DIAMETER_PORT=3870

HSS_FQDN=hss.ims.example.net
HSS_REALM=ims.example.net
HSS_DIAMETER_PORT=3868

PCRF_FQDN=pcrf.epc.example.net
PCRF_REALM=epc.example.net
PCRF_DIAMETER_PORT=3868
